header {
    width: 1300px;
    height: 100px;
    /* border: 1px solid; */
    margin: 0 auto;
  }
  .box {
    display: flex;
    width: 100%;
    height: 100%;
    /* border: 1px solid; */
  }
  .logo {
    color: aqua;
    width: 50%;
    height: 100%;
    /* border: 1px solid; */
  }
  .text {
    width: 50%;
    height: 100%;
    /* border: 1px solid; */
  }
  .nav-text {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
  }
  .color {
    color: aqua;
  }
  .main-box {
    display: flex;
    width: 1300px;
    height: 600px;
    /* border: 1px solid; */
  }
  .main-text {
    display: flex;
    flex-direction: column;
    justify-content: centert;
    width: 50%;
    height: 100%;
    /* border: 1px solid; */
  }
  .color2 {
    color: rgb(228, 74, 74);
  }
  .main-img {
    /* display: flex; */
    justify-content: right;
    align-items:end;
    width: 50%;
    height: 100%;
    /* border: 1px solid; */
  }
  .div-text{
  
      width: 1300px;
      height: 100px;
      /* border: 1px solid;  */
  }